*{
    margin:5px;
    box-sizing: border-box;
   
}
html{
    background-color: beige;
    
}
body{
   
    position: relative;
    width: 2000px;
}
header{
/* border-style: dotted; */
text-align: center;
font-family: "elfreth", sans-serif;
font-size: 40px;
font-weight: 400;
font-style: normal;
position: relative;
max-width:1420px ;

} 
section{
    border: solid;
    border-width: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min-content;
   
}
.line1{
    width: 100%;
    height:8px;
    background: black; 
    margin:10px auto;
    border-radius: 5px;
}
.container{
    /* border-style: dotted; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min-content;
    /* padding-left: 10%; */
}

.content{
 display: flex;
 /* border-color: aqua;
 border-style: dotted; */
 position:relative;
 width: min-content;
 opacity: .80;
   /* padding: 2em 0 30em 0; */
  /* background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover; */

}
/* 
.lines{
    max-width: revert;
} */
/* .content{
    width:100%;
    height: 100%;
} */
/* .outter{
   position:absolute;
   top:150px;
   right:150px;
    width:400px;
    height: 200px;
    border: 3px solid black;

} */
.cimg7{
    float: right;
    border-color: black;
    border: solid;
    border-width: 6px;
    margin-top: -140px;
    margin-right: 30px;
    position: absolute;
    width: 500px;
    height: 165vh;
    overflow: hidden;
    position: relative;
   
}
.cimg8{
   
    width: 500px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top:1400px;
   right:-15px;
}
.img-fluid4{
    width:100%;
    height:auto;
    object-fit: cover;
}
.text2{
    margin-left: 10%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    font-family: "sirenia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(238, 203, 5);
}
.text3{
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-family: "sirenia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.cimg1{
    /* border-color: blue;
    border-style: dotted; */
    width: 400px;
    height: 1000px;
    overflow: hidden;
    position: absolute;
    top:200px;
    left:200px;
}
.img-fluid{
    width:100%;
    height:auto;
    object-fit: cover;
}

.cimg2{
    /* border-color: blue;
    border-style: dotted; */
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top:100px;
   right:20px;
}
.img-fluid2{
    width:100%;
    height:90%;
    object-fit: cover;
}
.cimg3{
    /* border-color: blue;
    border-style: dotted; */
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    bottom:100px;
   right:20px;
}

.img-fluid3{
    width:100%;
    height:90%;
    object-fit: cover;
}
.cimg4{
    background-color: black;
    /* border-style: dotted; */
    width: 500px;
    height: 100px;
    position: absolute;
    top:40px;
   left:380px;
   justify-items: center;
   align-items: center;
   font-family: "sirenia", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
color: white;
}
.cimg5{
    z-index: 5000;
    background-color: black;
    /* border-style: dotted; */
    width: 500px;
    height: 100px;
    position: absolute;
    top: 850px;
   right:10px;
   justify-items: center;
   align-items: center;
   font-family: "sirenia", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
color: white;
}
.cimg6{
    z-index: 5000;
    padding-left: 30px;
    padding-top: 30px;
    background-color: black;
    /* border-style: dotted; */
    width: 650px;
    height: 150px;
    position: absolute;
    bottom: 650px;
    left:50px;
   justify-items: center;
   align-items: center;
   font-family: "sirenia", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
color: white;
}
.circle1:hover{
        background-color:rgb(46, 46, 192);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(46, 46, 192);  
}
.circle1:visited{
   background-color:black;
   transform: scale(1.2);
}
.circle1{
    transition: transform .5s;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px; 
    text-align: center;
    color: white;
    height:50px;
    width:50px;
    border: 5px solid rgb(46, 46, 192) ;
    border-radius: 500px;
    background-color: rgb(46, 46, 192);
position: absolute;
top: 460px;
right:630px;
}
.circle2:hover{
    background-color:rgb(65,194,229);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(65,194,229);  
}
.circle2:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle2{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(65, 194, 229) ;
     border-radius: 500px;
     background-color:  rgb(65, 194, 229);
 position: absolute;
 bottom: 430px;
 right:550px;
 }
 .circle3:hover{
    background-color:rgb(65,194,229);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(65,194,229);  
}
.circle3:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle3{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(65, 194, 229) ;
     border-radius: 500px;
     background-color:  rgb(65, 194, 229);
 position: absolute;
 top: 160px;
 right:200px;
 }
 .circle4:hover{
    background-color:rgb(221,65,229);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(221,65,229);  
}
.circle4:visited{
    background-color:black;
    transform: scale(1.2);
}
 .circle4{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(221, 65, 229) ;
     border-radius: 500px;
     background-color:  rgb(221, 65, 229);
 position: absolute;
 top: 740px;
 left:130px;
 }
 .circle5:hover{
    background-color:rgb(221,65,229);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(221,65,229);  
}
 .circle5:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle5{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(221, 65, 229) ;
     border-radius: 500px;
     background-color:  rgb(221, 65, 229);
 position: absolute;
 bottom: 280px;
 right:50px;
 }
 .circle6:hover{
    background-color:rgb(51, 202, 46);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(51, 202, 46);  
}
 .circle6:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle6{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(51, 202, 46) ;
     border-radius: 500px;
     background-color:  rgb(51, 202, 46);
 position: absolute;
 top: 250px;
 left:410px;
 }
 .circle7:hover{
    background-color:rgb(51, 202, 46);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(51, 202, 46);  
}
 .circle7:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle7{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(51, 202, 46) ;
     border-radius: 500px;
     background-color:  rgb(51, 202, 46);
 position: absolute;
 top: 680px;
 right:330px;
 }
 .circle8:hover{
    background-color:rgb(209, 52, 52);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(209, 52, 52);  
}
 .circle8:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle8{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(209, 52, 52) ;
     border-radius: 500px;
     background-color:  rgb(209, 52, 52);
 position: absolute;
 top: 450px;
 right:120px;
 }
 .circle9:hover{
    background-color:rgb(209, 52, 52);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(209, 52, 52);  
}
 .circle9:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle9{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(209, 52, 52) ;
     border-radius: 500px;
     background-color: rgb(209, 52, 52);
 position: absolute;
 top: 820px;
 left:330px;
 }
 .circle10:hover{
    background-color:rgb(209, 52, 52);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(209, 52, 52);  
}
 .circle10:visited{
    background-color:black;
    transform: scale(1.2);
 }
 .circle10{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: white;
     height:50px;
     width:50px;
     border: 5px solid rgb(209, 52, 52) ;
     border-radius: 500px;
     background-color: rgb(209, 52, 52);
 position: absolute;
 bottom: 570px;
 left:550px;
 }
 .circle11:hover{
    background-color: rgb(243, 217, 72);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(238, 203, 5);  
}
 .circle11:visited{
    background-color:black;
    transform: scale(1.2);
    color:white;
 }
 .circle11{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: black;
     height:50px;
     width:50px;
     border: 5px solid rgb(243, 217, 72) ;
     border-radius: 500px;
     background-color:   rgb(243, 217, 72) ;
 position: absolute;
 top: 530px;
 left:200px;
 }
 .circle12:hover{
    background-color: rgb(243, 217, 72);
        transform: scale(1.2);
        border: 1px solid white;
        box-shadow: 0 0 50px rgb(238, 203, 5);  
}
 .circle12:visited{
    background-color:black;
    transform: scale(1.2);
    color:white;
 }
 .circle12{
     transition: transform .5s;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: 30px; 
     text-align: center;
     color: black;
     height:50px;
     width:50px;
     border: 5px solid rgb(243, 217, 72) ;
     border-radius: 500px;
     background-color:   rgb(243, 217, 72) ;
 position: absolute;
 top: 320px;
 right:480px;
 }